<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric" version="5.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="2.6.210" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.4.3" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.4.3" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.4.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
  <package id="Twilio" version="5.5.0" targetFramework="net452" />
</packages>